*{
    box-sizing: border-box;
}

body{
    background-color:#c2e1ff;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center; 
    width:40vw;
    margin:5% auto;
    background-color:#c2e1ff;
    min-height:60vh;
}

#todo-title{
    width:100%;
    text-align:center;
    padding: 1%;
    margin-bottom:0;
    color:white; 
    background-color: black;
}

#todo-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding: 0;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-bottom:0.5%;
    border:none;
}
.marker, .todo-item{
    border:1px solid black;
    height:1.75em;
    padding:1%;
    color:black;
    background-color: white;
}
.marker{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:0.5%;
}
.marker>svg{
    cursor:pointer;
    width:auto;
}
.todo-item{
    width:90%;
}
.todo-item>.remove{
    color:grey;
    visibility: hidden;
}
.todo-item:hover>.remove{
    visibility: visible;
    cursor:pointer;
}
.todo-item>input{
    border:none;
    width:95%;
    height:1em;
    outline:none;
}
#item-0>.todo-item{
    border:0px;
    padding:0px;
    background-color: inherit;    
}

