*{
    box-sizing: border-box;
}

body{
    background-color:#c2e1ff;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center; 
    width:40%;
    margin: 5% auto;
    background-color:white;
    min-height:60vh;
}

#todo-title{
    width:100%;
    text-align:center;
    padding: 1%;
    margin-bottom:1%; 
}

#todo-title, .items-list, .marker{
    color:white;
    border:1px solid white;
    background-color: #8fc8ff;  
}

#todo-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding: 1%;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.marker{
    width:10%;
    padding:1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.marker>svg{
    cursor:pointer;
}
.todo-item{
    width:90%;
    padding:0.5%;
}
.todo-item>input{
    border:none;
    width:95%;

}

